/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .sidebar, .sidebar-bg {
        display: none;
    }
    .content {
        margin-left: 0;
    }
    .count-items {
        padding-top: 4%;
        padding-left: 4%;
        text-align: center;
    }
  }